// @use 'bootstrap/scss/bootstrap';

@use './normalize.scss';

/* colors */
$white: #FFFFFF;
$black: #000000;
$FCFCFC: #FCFCFC;
$F2F5FF: #F2F5FF;
$O11C42: #011C42;
$O3344F: #03344F;
$O54C73: #054C73;
$O9513B: #09513B;
$D7D6D6: #D7D6D6;
$DFE9F4: #DFE9F4;

/* personal colors */
$dark-grey: #333333;
$light-grey: #666666;
